@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.navbar {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 50px;
    padding: 5 40px;

    display: flex;
    justify-content: start;
    align-items: center;
}
.navbar .button {
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}
.navbar i {
    margin-right: 10px;
    font-size: 25px;
}

.hide {
    display: none !important;
}

.container {
    padding: 0px 40px;
}

.body-container {
    display: flex;
}

#video, #canvas {
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 40px;
    position: static !important;
}
#name {
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 25px;
    padding: 5px 10px;
}

#imageUpload {
    margin-top: 10px;
}


.loading-gif {
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;
    background-color: #00000052;
}
.loading-gif img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    cursor: pointer;
    border: 3px dashed gray;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px 25px;
}


.result {
    margin-top: 30px;
}

.result img {
    /* width: 80%; */
    max-width: 1000px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 0 auto;
}
.result canvas {
    max-width: 1000px;
}